* { 
    margin: 0px auto; 
    padding: 0px; 
}

h1 { 
    font: bold 1.5em arial; 
    text-align: center; 
    padding: 0.5em; 
}

/* Contenedor principal */
#contenedor { 
    position: absolute; 
    top: 100px; 
    left: 200px; 
    width: 450px; 
    height: 300px; 
    overflow: hidden;
}

/* Fondo 1 */
#fondouno { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
}

/* Fondo 2 */
#fondodos { 
    position: absolute; 
    top: 0px; 
    left: 450px;
}

/* Autobús */
#autobus { 
    position: absolute; 
    top: 100px; 
}