#contenedor {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
    margin-top: 20px;
}

/* Elemento a animar */
#animar {
   	width: 50px;
    height: 50px;
    position: relative;
    background-color: red;
}
